h1{
    text-transform: uppercase;
    text-align: center;
    color: rgb(161, 39, 161);
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
    width: 200px;
    height: 100px;
    margin-left: 525px;
    font-family: 'Xanh Mono', monospace;
}
H4{
    text-transform: uppercase;
    font-size: 18px;
}
h5{
    text-transform: uppercase;
    font-size: 18px;
}
li{
    text-align-last: center;
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
}
H6{
    background-color: coral;
    font-size: large;
    width: 300px;
    text-align: center;
    border: 2px solid black;
}
.DESTACADOS{
    color: crimson;
    caret-color: 53;
}
.DESTACADOPERFIL{
    text-decoration-line: underline;
    background-color: indianred;
    width: 75px;
    padding: 20px;
    border-radius: 25px 0;
}
.DESTACARFORM:hover{
    background-color: blueviolet;
    cursor: pointer;
    box-shadow: 15px 10px 10px gray;
}
/* font-family: 'Lobster', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Xanh Mono', monospace; */
